
.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.search-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

.error {
  color: red;
  margin-bottom: 20px;
}

.countries-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.countryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.centered {
  display: flex;
  justify-content: center;
}

.country-flag {
  width: 100px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  
}